.features-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.features-list__thumb {
  display: flex;
  justify-content: center;
  padding: 25px 0px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.features-list__text {
  line-height: 1.7;
  color: $secondary-text-color;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .features-list__item {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .features-list__item {
    width: calc((100% - 4 * 30px)/4);
    margin: 15px;
  }
}