.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-color: getColor('secondary');
}

@media screen and (min-width: 1200px) {
  .page-footer {
    padding-top: 72px;
    text-align: start;
  }
  .page-footer__container {
    display: flex;
    align-items: baseline;
  }

  .page-footer__thumb {
    display: flex;
    flex-direction: column;

    &:not(:last-of-type) {
      margin-right: 70px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  
.page-footer__container {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.page-footer__thumb {
  display: flex;
  flex-direction: column;
  margin-right: 165px;
}
}
