.social-list-thumb {
  margin-bottom: 60px;
}

.social-list-thumb__title {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: $hero-text-color;
}

.social-list__link--gray-background {
  background-color: rgba(255, 255, 255, 0.1);
}
