.page-footer__title {
  margin-bottom: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: $hero-text-color;
}

.social-list__link--gray-background {
  background-color: rgba(255, 255, 255, 0.1);
}

.page-footer__thumb {
  margin-right: auto;
}
