body {
  font-family: $primary-text, $secondary-text, $reserve-text;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: $primary-letter-spacing;
  color: $primary-text-color;
  background-color: getColor('primary');
}
// JS вешает этот класс, когда модалка открыта, а этому класс задается свойство, чтобы убрать скролл во время открытой модалки
body.modal-open { 
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  min-width: 320px; // Мин. ширина контейнера. Меньше которой будет полоса прокрутки
  max-width: 1200px; // Макс. ширина контейнера. Чтобы не тянулся до бесконечности, а фиксировался при 1200рх
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
     padding-top: 94px;
     padding-bottom: 94px;
  }
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 28px;
}
