.section--gray-theme {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list__item {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-list__container {
  text-align: center;
  padding: 30px;
  padding-bottom: 30px;
  background-color: getColor('primary');
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
}

.team-list__description {
  font-size: 16px;
  color: $secondary-text-color;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding: 12px;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('accent');
    fill: getColor('primary');
  }
}
